.divPrincipal{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(500px ,1fr));
    justify-content: center;
    align-items: center;
}
.divProyects{
    display: flex;
    justify-content: center;
    width: 100%;
    align-items: center;
    margin-bottom: 100px;
}



@media (max-width: 768px) {

    .divPrincipal{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 15px;
    }

}