.DivPrincipal{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: repeat(6, 1fr);
  -webkit-box-pack: start;
  min-height: 100vh;
  max-height: 100vh;
  padding: 7rem;
  /* position: relative; */
  margin-top: 0px !important;

}
.divText{
  grid-column: 2/3;
  grid-row:1/1;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 3px;
}
.text{
  margin-left: 5px;
  font-size: 35px;
  margin-bottom: 30rem;
  color: white;
  
}
.divImagen{
  grid-column: 2/3;
  grid-row:1/2
}
.image{
  width: 100vh;
}

.icons{
  background-color: white;
  padding: 0.5rem;
  border-radius: 25px;
font-size: 3rem; 
}
.as{
  text-decoration: none !important;
  list-style: none !important;
  color: black;
}
.UnicIcon{
  margin: 6px;
  cursor: pointer;
}
.UnicIcon:hover{
  transform: scale(1.5)
}



