.cardcontainer {
    display: inline-block;
    margin: 0 auto;
    padding: 0 12px;
    perspective: 900px;
    text-align: center;
    perspective: 1000;
}

.cards {
  position: relative;
  width: 500px;
  height: 600px;
  border: solid;
  border-color: greenyellow;
  border: 25px;
  margin: 15px;
  margin-bottom: 35px;
}
.cardsBlack{
  position: relative;
  width: 500px;
  height: 600px;
  border: solid;
  border: 25px;
  margin: 15px;
  margin-bottom: 35px;
}
.DivIconsBlack{
  background-color: white;
  padding: 1.5rem;
  margin-top: 1rem;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 25px;
}
.divText{
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin: 0.3rem;
  margin-left: 0.7rem;
  margin-right: 0.7rem;
  border-radius: 20px;
}
.DivIcons{
  margin-top: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 25px;
}
.icons{
  font-size: 3rem; 
  transition: all 0.35s;
}

.icons:hover{
  transform: scale(1.3);
}

.front{ 
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    box-shadow: 0 27px 55px 0 rgba(0, 0, 0, 0.3), 0 17px 17px 0 rgba(0, 0, 0, 0.15);
    backface-visibility: hidden;
    color: black;
    background-color: rgb(255, 253, 253);
    display: flex;
    flex-direction: column;
    align-items: center;
}
.frontBlack{
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 5px;
  box-shadow: 0 27px 55px 0 rgba(0, 0, 0, 0.3), 0 17px 17px 0 rgba(0, 0, 0, 0.15);
  backface-visibility: hidden;
  color: black;
  background-color: rgb(0, 0, 0);
  display: flex;
  flex-direction: column;
  align-items: center;
}
.link{
  text-decoration: none !important;
  list-style: none !important;
}
.front {
  display: flex;
  align-items: center;
  font-size: 30px;
}
.titleBlack{
  color: white;
}
.imagenesTech{
  width: min-content;
  height: min-content;
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(255, 255, 255);
  background-color: rgba(0, 0, 0, 0.506);
}
.spanTech{
  margin: 10px;
  color: rgb(255, 255, 255);
  border-radius: 88px;
  background-color: rgba(0, 0, 0, 0.506);
  font-size: 1.5rem;
}

.title{
  font-size: 3rem;
}
.image{
  width: 100%;
  height: 80%;
  margin:0;
  padding: 0;
  border-radius: 15px;

}
.text{
  font-size: 1.5rem;
  color: rgb(0, 0, 0);
}
.textBlack{
  font-size: 1.5rem;
  color: white;
}
.DivUl{
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  word-wrap: break-word;
}



@media (max-width: 768px) {
  .cardcontainer {
    display: inline-block;
    margin: 0 auto;
    perspective: 900px;
    text-align: center;
    perspective: 1000;
}

.cards {
  position: relative;
  width: 100%;
  height: 100%;
  border: solid;
  border: 25px;
  transform-style: none;
  transition: none;


}
.cardcontainer:hover .cards{
  transform: none;
  box-shadow: none;
}

.front{ 
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    box-shadow: 0 27px 55px 0 rgba(0, 0, 0, 0.3), 0 17px 17px 0 rgba(0, 0, 0, 0.15);
    backface-visibility: hidden;
    color: black;
    background-color: rgba(255, 255, 255, 0.285);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 15px;
    padding-top: 15px;

}
.link{
  text-decoration: none !important;
  list-style: none !important;
}
.front {
  display: flex;
  align-items: center;
  font-size: 30px;
}
.imagenesTech{
  width: min-content;
  height: min-content;
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(255, 255, 255);
  background-color: rgba(0, 0, 0, 0.506);
}
.spanTech{
  margin: 10px;
  color: rgb(255, 255, 255);
  border-radius: 88px;
  background-color: rgba(0, 0, 0, 0.506);
  font-size: 1.5rem;
}

.cards:hover  {
  transform: none;
}

.back {
  transform: rotateY(180deg);
}

.title{
  font-size: 2rem;
}
.image{
  width: 100%;
  height: 80%;
  margin:0;
  padding: 0;

}
.divText{
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.text{
  font-size: 1rem;
}
.DivUl{
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  word-wrap: break-word;
}



}